* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* header styles */

.header {
 width: 100%;
 
 /* background: linear-gradient(#e66465, #9198e5); */
 /* background: #FFB900; */
 background-image: linear-gradient(to bottom, rgba(245, 246, 252, 0.52), rgba(255, 184, 10, 0.73)), url(images/Gannett-Tribune.jpg);
 background-position: center;
 background-size: cover;
 position: relative;
}

.header::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 27.45, 100, 0.45);
}

/* .navbar {
  display: flex;
  justify-content: space-around;
  padding-top: 50px;
}

.logo {
  font-size: 30px;
  margin-left: 30px;
  color: blue;
  text-decoration: none;
}

.nav-links {
  display: flex;
  margin-right: 60px;
  margin-top: 20px
  
}

.nav-links li {
  margin: 0 20px;
  list-style-type: none;
}

.nav-links li a {
  text-decoration: none;
  color: white;
}

.nav-link li a::after {
  content: '';
  width: 0%;
  height: 2px;
  background: #0046ff;
  display: block;
  margin: auto;
  transition: 0.5s;
}

.nav-link li a:hover::after {
  width: 100%;
}  */

nav { 
  display: flex; 
  padding: 2% 6%;
  justify-content: space-between;
  align-items: center;
}

nav a {
  color: #0046ff;
  text-decoration: none;
  font-size: 36px;
}

.nav-links {
  flex: 1;
  text-align: right;
}

.nav-links ul li {
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
  position: relative;
}

.nav-links ul li a {
  color: #fff;
  font-size: 13px;
  text-decoration: none;  
}

.nav-links ul li::after {
  content: '';
  width: 0%;
  height: 2px;
  background: #0046ff;
  display: block;
  margin: auto;
  transition: 0.5s;
}

.nav-links ul li:hover::after {
  width: 100%;
}



/* main content styles */

.main-content {
  margin: auto;
  width: 1522px;
}

/* home page styles */

.text-box h1 {
  margin-bottom: 15px;  
}

.text-box p {
  font-size: 20px
}

.what-we-do h2 {
  font-size: 30px;
  padding: 25px 30px
}

.what-we-do-home-row {
  display: flex;
  align-items: center;
  padding: 0 250px;
}

.what-we-do img {
  width: 450px;
  border-radius: 100px;
}

.what-we-do-col-1, .what-we-do-col-2 {
  height: 500px;
  padding-bottom: 50px;
  padding-top: 50px;
  width: 572px;
}

.what-we-do-col-1 p {
  line-height: 2.4em;
  font-size: 25px;
  margin-right: 10px;
}

.what-we-do-col-2 > div {
  margin-left: 45px;
}

.customers img {
  width: 450px;
    border-radius: 100px;
}

.customers-col-1, .customers-col-2 {
  height: 500px;
  padding-bottom: 50px;
  padding-top: 50px;
  width: 572px;
}

.customer-col-2 > div {
  margin-left: 45px;
}

.customers-col-2 p {
  line-height: 2.4em;
    font-size: 25px;
    margin-right: 10px;
}

.customers-home-row {
  display: flex;
    align-items: center;
    padding: 0 250px;
}

.customers h2 {
  text-align: center;
  margin-top: 50px;
  font-size: 30px;
  padding: 25px 30px;
}

.testimonial-section {
  margin-bottom: 30px;
}

.testimonial-section h2 {
  text-align: center;
    margin-top: 50px;
    font-size: 30px;
    padding: 25px 30px;
}

.testimonial-row {
  display: flex;
  align-items: center;
  padding: 0 250px;
}

.testimonial-col-1, .testimonial-col-2 {
  height: 500px;
  padding-bottom: 50px;
  padding-top: 50px;
  width: 572px;
}

.testimonial-col-2 > div {
  margin-left: 45px;
}

.testimonial-col-2 img {
  width: 450px;
    border-radius: 100px;
} 

.testimonial-col-1 p {
  line-height: 2.4em;
    font-size: 25px;
    margin-right: 10px;
}


/* about page styles */

.sub-header {
 width: 100%;
 background-image: linear-gradient(rgba(4,9,30,0.7), rgba(4,9,30,0.7)), url(images/Gannett-Tribune.jpg);
 background-position: center;
 background-size: cover;
 position: relative;
}

.sub-header::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 27.45, 100, 0.45);
}


.about {
  margin-bottom: 20px;
}

.about-col .title {
  margin-top: 20px;
  margin-bottom: 25px
}

.about img {
  width: 400px;
  height: 400px;
  object-fit: contain;
  border-radius: 1.6rem;
}


.about h2 {
  text-align: center;
  padding: 50px 0;
}

.about .row {
  margin: 0 auto;
  max-width: 80%;
  height: 700px;
  
}


.about-col {
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 15px 30px;
  margin: 10px 20px;
}

.text-box {
  width: 450px;
  height: 300px;
  /* background-color: green; */
  text-align: center;
  color: white;
  margin: 150px auto;
}

.text-box h1 {
  font-size: 62px;
}

/* what we do page styles */

.what-we-do-header {
  min-height: 70vh;
  width: 100%;
 background-image: linear-gradient(rgba(4,9,30,0.7), rgba(4,9,30,0.7)), url(images/Gannett-Tribune.jpg);
 background-position: center;
 background-size: cover;
 position: relative;
}

.what-we-do-header::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 27.45, 100, 0.45);
}


.col-content {
  background-color: yellow;
  width: 300px;
  height: 250px;
}

.what-we-do h2 {
  text-align: center;
  margin-top: 50px;
}

.what-we-do .row {
  
    width: 80%;
    margin: auto;
    margin-bottom: 20px;
    padding-left: 150px;
    padding-top: 15px;
    margin-top: 20px;
}

.what-we-do:nth-last-child(2) {
  margin-right: 150px;
}

.flip-card-container {
    margin: 0 auto;
    width: 1050px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

}

.flip-card {
    background-color: transparent;
    margin-bottom: 15px;
    width: 300px;
    height: 300px;
    perspective: 1000px;
  }
  
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  
  .flip-card-front {
    background-color: #bbb;
    color: black;
  }
  
  .flip-card-back {
    background-color: #2980b9;
    color: white;
    transform: rotateY(180deg);
  }

  .flip-card-2 {
    width: 1050px;
    margin: 0 auto;
  }

 .flip-card-row::after {
  content: "";
  display: table;
  clear: both;
 } 

 .flip-card-col {
  float: left;
  width: 50%;
  padding: 10px;
 }

  .practice-card {
    display: flex;
    margin-bottom: 20px;
  }
.practice-card-description {
  margin: 0 15px;
}

 .practice-card img {
  width: 170px;
  height: 170px;
 } 

 .practice-card  p {
  color: black;
 }

.card p {
    color: black;
}

/* customer's page styles */

.customer-header {
  height: 70vh ;
  width: 100%;
 background-image: linear-gradient(rgba(4,9,30,0.7), rgba(4,9,30,0.7)), url(images/Gannett-Tribune.jpg);
 background-position: center;
 background-size: cover;
 position: relative;
}

.customer-header::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 27.45, 100, 0.45);
}

/* testimonials page styles */

.testimonial-header {
  height: 70vh ;
  width: 100%;
 background-image: linear-gradient(rgba(4,9,30,0.7), rgba(4,9,30,0.7)), url(images/Gannett-Tribune.jpg);
 background-position: center;
 background-size: cover;
 position: relative;
}

.testimonial-header::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 27.45, 100, 0.45);
}

.testimonial .row {
  max-width: 1400px;
  margin: auto;
  margin-top: 50px;
  background-color: aqua;
  padding: 10px;
}

.testimonial-col img {
  width: 300px;
    height: 300px;
    object-fit: contain;
}



/* contact form styles */

.contact-header {
  height: 70vh ;
  width: 100%;
 background-image: linear-gradient(rgba(4,9,30,0.7), rgba(4,9,30,0.7)), url(images/Gannett-Tribune.jpg);
 background-position: center;
 background-size: cover;
 position: relative;
}

.contact-header::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 27.45, 100, 0.45);
}



.contact-section {
  background: linear-gradient(to right,cornflowerblue, #f6f6f6);
  padding: 15px 0;
  margin-bottom: 20px;
}

.contact-info {
  display: flex;
    justify-content: center;
    margin: 15px 50px;
}

.contact-hours {
  display: flex;
    flex-direction: column;
    margin-right: 30px;
}

.form-container {
    max-width: 1000px;
    padding: 100px 60p;
    margin: auto;
}

.form {
  display: grid;
  font-size: 2rem;
}

label {
  margin: 15px 0
}

input {
  padding: 15px;
  margin: 15px 0
  
}

.submit-button {
  background-color: #0046ff;
  margin-top: 25px;
  width: 300px;
  color: white;
  font-size: 2rem;
}



/* customer section styles */

.customer-section {
  width: 80%;
  margin: auto;
  background: #0046ff;
  text-align: center;
  padding-top: 100px;
  margin-top: 20px;
  margin-bottom: 30px;
}

.customer-section h2 {
  text-align: center;
  color: #fff;
  padding-bottom: 25px;
}


.customer-section-row {
  display: flex;
  justify-content: space-evenly;
}

.cards-customer-section {
  flex-basis: 32%;
  border-radius: 10px;
  margin-bottom: 30px;
  position: relative;
  overflow: hidden;
}

.cards-customer-section p {
  color: black;
}

.cards-customer-section img {
 width: 300px;
 height: 300px;
}

.description p {
  color: #fff;
  padding-bottom: 20px;
}

/* testimonial section styles */

.testimonial {
  width: 80%;
  margin: auto;
  
  text-align: center;
  padding-top: 100px;
  margin-top: 20px;
  margin-bottom: 30px;
}

.row {
  display: flex;
  margin-top: 5%;
  justify-content: space-between;
}

.testimonial-col {
  flex-basis: 45%;
}

/* footer section styles */

.footer h2 {
  text-align: center;
  color: #0046ff;
}

/* media query */

/* @media (max-width: 1024) {
  .nav-links {
    width: 60%;
  }
} */

@media (max-width: 700px) {
  .logo h1 {
    font-size: 15px;
  }  
}

/* @media screen and (max-width: 768px) {
  .nav-links {
    position: absolute;
    right: 0px;
    height: 92vh;
    top: 8vh;
    background-color: #ca5f5f;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    transform: translateX(100%);
  }
  .nav-links li {
    opacity: 0;
  }
  .burger {
    display: block;

  }

  
} */

@media screen  and (max-width:800px){
  div.main{
      width: 20rem;
      height: 36rem;
  }
  form{
      display: grid;
      grid-template-columns: 1fr ;
      grid-gap: 0;
      margin: 1rem 0;
  }
  input{
      width: 18rem;
      height: 1.5rem;
  }
  button{
      width: 18rem;
      height: 4rem;
  }
}

